  <%- include('header'); -%>
    <div class="box" id = "heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
        <% for(var i = 0;i<newTasks.length;i++) { %>
          <% task = newTasks[i]; %>
          <div class="item">
            <input type="checkbox">
            <p><%= task %></p>
          </div>

        <% } %>

        <form class="item" action= <%= actionRoute %> method="post">
          <input type="text" name="task" placeholder = "Enter the task" autocomplete="off">
          <button type="submit" name="button">+</button>
        </form>
    </div>
  <%- include('footer'); -%>
